.generalContent {
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 7%;
}

#containerBootstrap {
	width: auto;
	padding: 0;
}

#imgMapping {
	padding-bottom: 15px;
}

#pagMapping {
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	background-color: #f0f0f0;
	color: #469f2a;
}

#contentPagMapping {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagGaming {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#contentPagGaming {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagStrategia {
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
	text-align: center;
	background-color: #f0f0f0;
}

#contentPagStrategia {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagUserExperience {
	background-color: white;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
}

#contentPagUserExperience {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagKnowStart {
	background-color: white;
	font-weight: bolder;
}

#pagKnowHow {
	background-color: #f0f0f0;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #307ebc;
  padding: 20px;
}

#contentPagKnowHow {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagStartUp {
	background-image: url('../img/Background.jpg');
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #307ebc;
  padding: 20px;
}

#contentPagStartUp {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagBusinessModel {
	background-color: white;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
}

#contentPagBusinessModel {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagContatti {
	width: 100%;
	float: left;
	background-color: white;
	background-image: url("../img/footer/Map.jpg");
	background-repeat: no-repeat;
}

#blueCanvas {
	/* 	background-image: url('../img/footer/Box01.jpg'); */
	/* 	background-repeat:no-repeat; */
	/* fallback */
	background-color: #1a82f7;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7),
		to(#2F2727));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2F2727, #1a82f7);
	/* IE 10 */
	background: -ms-linear-gradient(top, #2F2727, #1a82f7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #2F2727, #1a82f7);
	padding: 15px;
	background-size: 100%; 100%;
	font-family: helvetica;
	font-size: small;
	color: white;
	line-height: 20px;
    margin-bottom:10px;
}
@media (min-width: 1200px) {
  #map-mini img{
    border: 1px solid black;
    display:none;
  }
  #map{
    height: 280px;
    border: 1px solid black;
  }
}

@media (max-width: 1200px) {
  #map-mini img{
    border: 1px solid black;
    margin-bottom:10px;
  }
  #map{
    display:none;
    height: 280px;
  }
}



#greenCanvas {
  /* 	background-image: url('../img/footer/Box02.jpg'); */
  /* fallback */
  background-color: #c0d24c;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7),
  to(#2F2727));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #84b818, #c0d24c);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #84b818, #c0d24c);
  /* IE 10 */
  background: -ms-linear-gradient(top, #84b818, #c0d24c);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #84b818, #c0d24c);
  font-family: helvetica;
  line-height: 20px;
  font-size: medium;
  padding: 15px;
  color: white;
  text-align: center;
}

#heroUnitFooter {
  background-image: url('../img/footer/Map.jpg');
  background-repeat: no-repeat;
}

#heroUnitBM {
  background-color: white;
}

#heroUnitKS {
  background-color: white;
}

#heroUnitUX {
  background-color: white;
}

#heroUnitGame {
  background-color: white;
}

#rowImgBM {
  padding-bottom: 20px;
}

#rowImgSU {
  padding-bottom: 20px;
  padding-top: 20px;
}

#rowImgK {
  padding: 20px;
}

#rowImgUX {
  margin-bottom: 20px;
}

#rosImgStra {
  padding-bottom: 15px;
}
