.generalContent {
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 7%;
}

#containerBootstrap {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#imgMapping {
	padding-bottom: 15px;
}

#pagMapping {
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	background-color: #f0f0f0;
	color: #469f2a;
}

#contentPagMapping {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagGaming {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#contentPagGaming {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagStrategia {
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
	text-align: center;
	background-color: #f0f0f0;
}

#contentPagStrategia {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagUserExperience {
	background-color: white;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
}

#contentPagUserExperience {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagKnowStart {
	background-color: white;
	font-weight: bolder;
}

#pagKnowHow {
	background-color: #f0f0f0;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #307ebc;
}

#contentPagKnowHow {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagStartUp {
	background-image: url('../img/Background.jpg');
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #307ebc;
}

#contentPagStartUp {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagBusinessModel {
	background-color: white;
	font-family: helvetica;
	font-size: 50px;
	font-weight: bolder;
	color: #ed7909;
}

#contentPagBusinessModel {
	font-family: helvetica;
	font-size: small;
	color: #858688;
	line-height: 28px;
	text-align: left;
}

#pagContatti {
	width: 100%;
	float: left;
	background-color: white;
	background-image: url("../img/footer/Map.jpg");
	background-repeat: no-repeat;
}

#blueCanvas {
	background-image: url('../img/footer/Box01.jpg');
	background-repeat:no-repeat;
	padding: 15px;
	background-size: 100%; 100%;
	font-family: helvetica;
	font-size: small;
	color: white;
	line-height: 20px;
}

#greenCanvas {
	background-image: url('../img/footer/Box02.jpg');
	font-family: helvetica;
	line-height: 20px;
	font-size: medium;
	padding: 15px;
	color: white;
	margin-top: 280px;
	text-align: center;
}

#hearoUnitFooter {
	background-image: url('../img/footer/Map.jpg');
}

#hearoUnitBM {
	background-color: white;
}

#hearoUnitKS {
	background-color: white;
}

#heroUnitUX {
	background-color: white;
}

#hearoUnitGame {
	background-color: white;
}

#rowImgBM {
	padding-bottom: 20px;
}

#rowImgSU {
	padding-bottom: 20px;
	padding-top: 20px;
}

#rowImgK{
	padding: 20px;
}

#rowImgUX{
	margin-bottom: 20px;
}

#rosImgStra{
	padding-bottom: 15px;
}

