/*
	   style.css
	   HWT
			   Created by Kasoale on 2013-04-29.
	   Copyright 2013 Alessio Casini. All rights reserved.
	*/
body {
	display: block;
	margin: 0px;
}

#background {
	height: 88%;
	width: 100%;
	position: absolute;
	z-index: -1
}

.itemCircle {
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	border-bottom-right-radius: 200px;
	border-bottom-left-radius: 200px;
	-webkit-transform: scale(0.5);
	-webkit-transition: all 500ms ease;
	margin-left: 46.5%;
	margin-top: 20%;
}

.centerItem {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	z-index: 1000;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	-webkit-transition: all 500ms ease;
	margin-top: 15%;
}

div#pop-up05 {
	display: none;
	position: absolute;
	width: 500px;
	height: 100px;
/* 	padding: 10px; */
/* 	background: #eeeeee; */
	color: #000000;
/* 	border: 1px solid #1a1a1a; */
/* 	font-size: 40%; */
	z-index: 2222;
	margin-left: 250px;
	text-align: left;
}

div#mapping {
	z-index: 2222;
/* 	margin-left: 250px; */
	font-family: helvetica;
	font-size: x-large;
	color: #469f2a;	
	line-height: 20px;
}

div#mContent {
	z-index: 2222;
/* 	margin-left: 300px; */
	font-family: helvetica;
	font-size: small;
	color: #858688;
	margin-top: 2%;
	line-height: 20px;
}

h1,h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

element.style {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	z-index: 1;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	-webkit-transition: all 500ms linear;
}
